//css reset
*{
    margin : 0;
    padding : 0;
}

//css for the body
body{
    display : grid;
    grid-template-columns: repeat(12, 1fr );
    grid-template-rows: repeat(3, 1fr );
    width : 100vw;
    height : 100vh;
    gap : 5px;
    background-color : lightyellow;
}


//css for section
section{
    grid-column: span 4;
    // border: 1px solid green;
    display : grid;
    place-items : center;

    div{
        width : 100px;
        height : 100px;
        background-color : lightblue;

    }
}

.circle div{
    border-radius : 50%;
}
.oval div{
    width : 200px;
    border-radius : 50%;
}
.trapezoid div{
    border-bottom: 50px solid lightblue;
    height : 0;
    border-left : 50px solid lightyellow;
    border-right : 50px solid lightyellow;
}
.rectangle div{
    width : 200px
}
.parallelogram div{
    transform : skew(30deg);
}
.triangle div{
    height : 0;
    width : 0;
    border-bottom : 50px solid transparent;
    border-left : 50px solid lightyellow;
    border-right : 50px solid lightyellow;

    //we can make different orientation of our trangle by rotating it with some angle.
    transform: rotate(45deg);
}